<div class="container">
  <h2>Informacion de Usuarios</h2><br>           
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Correo</th>
        <th>Cedula</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.lastname}}</td>
        <td>{{user.mail}}</td>
        <td>{{user.document}}</td>
      </tr>
    </tbody>
  </table>
</div>
